# Full chicago.osm: http://osm-extracted-metros.s3.amazonaws.com/chicago.osm.bz2
chicago.osm

# Output files from validity.py
autos-valid.csv
FIXME-autos.csv

# Full cities file: http://content.udacity-data.com/ud032/infobox/cities.csv.zip
cities.csv
